.moviePoster {
    height: 250px;
    }

#Mani {
    height: 350px;
    float: left;
    padding: .25em;
}

#fronsacAndThomas {
    height: 175px;
    float: right;
    padding: .25em;
}

#fightScene {
    height: 350px;
    float: right;
    padding: .25em;
}

#findingAClue {
    height: 200px;
    float: left;
    padding: .25em;
}

#About {
    font: bold;
}

#movieImageOne {
    height: 400px;
}

#movieImageTwo {
    height: 350px;
}

#movieImageThree {
    height: 450px;
}

#SAstats {
}

#SApt1 {}

#SApt2 {
}

#SApt4 {
}

#bathhouse {
    height: 350px;
    float: right;
}

#landscape {
    height: 300px;
    float: left;
    padding: .25em;
}

#yubaba {
    height: 400px;
    float: right;
    padding: 0.5em;
}

.section {

}