body {
    background-image: url(/images/background1.jpg);
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#content > div {
    align-items: center;
    width: 33vw;
    padding: 1.5em;
}

#heading {
    margin-top: 500px;
    text-align: center;
}

.moviePoster {
    height: 250px;
    }

.review {
    background-color: white;
    margin: 5px;
}
.box {
    height: 400px;
    border: solid;
    display: flex;
    flex-direction: column;
    margin: 4px;
    background-color: white;
}

#logo {
    height: 25px;
    text-align: center;
}

#Mani {
    height: 350px;
    float: left;
    padding: .25em;
}

#fronsacAndThomas {
    height: 175px;
    float: right;
    padding: .25em;
}

#fightScene {
    height: 350px;
    float: right;
    padding: .25em;
}

#findingAClue {
    height: 200px;
    float: left;
    padding: .25em;
}

#About {
    font: bold;
}

#movieImageOne {
    height: 200px;
    float: right;
    padding: .25em;
}

#movieImageTwo {
    height: 150px;
    float: left;
    padding: .25em;
}

#movieImageThree {
    height: 265px;
    float: right;
    padding: .25em;
}

#Inuyasha:hover {
    color: purple
}

#bathhouse {
    height: 350px;
    float: right;
}

#landscape {
    height: 300px;
    float: left;
    padding: .25em;
}

#yubaba {
    height: 385px;
    float: right;
    padding: 0.5em;
}

#violetAndCorky {
    display: grid;
    height: 250px;
    float: left;
    padding: 0.5em;
}

#violetAndTheMoney {
    display: grid;
    height: 300px;
    float: right;
    padding: 0.5em;
}

.quote {
    float: center;
}

#happyTimes {
    display: grid;
    height: 150px;
    float: left;
}

#frankieWithAGun {
    display: grid;
    height: 200px;
    float: right;
}

#communion {
    display: grid;
    height: 150px;
    float: left;
}

#bethAndJake {
    display: grid;
    height: 150px;
    float: left;
}

#argument {
    display: grid;
    height: 175px;
    float: right;
}

#bloodyBeth {
    display: grid;
    height: 175px;
    float: left;
}